* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.wrapper {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.emoji {
    color: red !important;
    text-align: center;
}

.turtle{
    color: green !important;
    text-align: center;
}

/* .week-box{
    text-align: center;
	position: relative;
	width: 70%;
    height: 40%;
	max-width: 100%;
	padding: 1rem;
	margin: auto;
	border: 0.3rem solid #ececec;
	border-radius: 8px;
	color: #212529;
    display: flex;
    flex-direction: row;
} */

.day{
    padding: 1rem;
    margin: 1% auto;
    height: 20vh;
    width: 20vh;
    border-radius: 10px;
    background-color: rgba(153, 0, 255, 0.8);
    box-sizing: border-box;
} 

.clue {
    display: none;
    position: absolute;
}

.defaultDay:hover .clue {
    display: block;
}
.defaultDay:hover {
    background-color: rgba(153, 0, 255, 1);
    transition: background-color, 200ms;
}

.day:hover {
    cursor: pointer;
}

/* add a rotating border here itll look sick trust just figure out how*/

.happy{
    background-color: yellow !important;
}

.medium{
    background-color: blue !important;
}

.sad{
    background-color: red !important;
}

.button-center{
    /* text-align: center;
	width: 70%;
    height: 40%;
	max-width: 100%;
	padding: 1rem;
	margin: 5rem; */
}

.saved{
    border: solid 5px green;
}

.smiley {
    height: 100%;
    width: 100%;
}

.date {
    text-align: center;
}

.buttons{
    text-align: center;
}

.flexboxtest {
    text-align: center;
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
}

.flex-day {
    background-color: red;
    flex: 0 0 25%;
}