@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Urbanist:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #7fdbff;
}
.wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.emoji {
    color: #ddf5ff !important;
    text-align: center;
    margin-top: 5%;
    font-size: 55px;
}

.day {
    padding: 1rem;
    margin: 1% auto;
    height: 30vh;
    width: 30vh;
    border-radius: 15%;
    background-color: rgba(153, 0, 255, 0.8);
    box-sizing: border-box;
    border: 9px solid white;
}

.clue {
    display: none;
    margin-top: 40%;
    font-size: 1.5rem;
    color: #8bb5c5;
}

.defaultDay:hover .clue {
    display: block;
}

.day:hover {
    cursor: pointer;
}

.none {
    background-color: #d4f3ff !important;
    color: black !important;
}

.happy {
    background-color: #91eb6b !important;
    color: #39a00c !important;
}

.medium {
    background-color: #ffe060 !important;
    color:#9c8e34 !important;
}

.sad {
    background-color: #6597e8 !important;
    color: #265094 !important;
}

.button-center {
    border-radius: 0.25em;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    background-color: #c7faff;
    box-shadow: 0 0.4em #58bec7;
    opacity: 1;
    text-decoration: none;
    outline: none;
    border: white 20px;
    cursor: pointer;
    position: relative;
}

.saved {
    border: solid 9px #3d9970;
}

.smiley {
    height: 100%;
    width: 100%;
}

.date {
    text-align: center;

    font-family: 'Urbanist', sans-serif;
    font-size: 28px;
    margin-top: 2%;
    margin-bottom: 1%;
}

.buttons {
    text-align: center;
    display: flex;
    justify-content: center;
}

button {
    margin: 25px 12px;
    width: 11vw;
    padding: 15px;
    font-size: 21px;
    color: #2a6065;
    font-family: Montserrat;
}

button:hover {
    -webkit-box-shadow: 0 0.25em #58bec7;
    box-shadow: 0 0.25em #58bec7;
    top: 0.125em;
}

button:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    top: 0.375em;
}

.flexboxtest {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 32px;
}

.flex-day {
    background-color: red;
    flex: 0 0 12%;
    margin: 10px 10px;
    margin-bottom: 10px 10px;
    margin-top: 10px 10px;
    border-radius: 5px;
    color: white;
}

.calendarTitle {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    color: #2d7a98;
    padding: 40px 0 20px;
    margin-left: 32px;
}
