.navbar {
    background-color: #2CBAE9;
    width: 56px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
}

.menu-bars-open {
    font-size: 2.5rem;
    background: none;
    padding: 14px 8px 0px 8px;
}

.menu-bars-close {
    font-size: 2.5rem;
    background: none;
}

.nav-menu {
    background-color: #2CBAE9;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 1000ms;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
    z-index: 10;
}

.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 4rem;
}

.nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 91%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.bottom {
    margin-top: auto;
}

.nav-text a:hover {
    background-color: #DF9F5B;
}

.nav-menu-items {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 1;
}

.navbar-toggle {
    background-color: #2CBAE9;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

span {
    margin-left: 16px;
}

.toggle-icon {
    color: #036484;
}

.toggle-icon:hover {
    color: #068CB8;
}

.actual-text {
    font-size: 1.25rem;
    color: #ddebeb;
}

.icon-text {
    font-size: 2rem;
    color: #ddebeb;
}
